.places {
  display: grid;
  width: 100%;
  gap: 80px;
}

@media screen and (max-width: 1023px) {
  .places {
    gap: 73px;
  }
}

@media screen and (max-width: 797px) {
  .places {
    gap: 50px;
  }
}