.lead {
  display: flex;
  flex-direction: column;
  margin: 0 148px;
}

@media screen and (max-width: 1279px) {
  .lead {
    margin: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    margin: 0;
  }
}

@media screen and (min-width:1281px) {
  .lead {
    max-width: 984px;
    margin: auto;
  }
}
