.cover__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  max-width: 360px;
  margin: 0;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 270px;
  }
}

