.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px 56px;
}

@media screen and (max-width:1279px) {
  .header {
    padding-bottom: 48px;
  } 
}

@media screen and (max-width:1023px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  } 
}

@media screen and (max-width:767px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
  }
}

@media screen and (min-width:1281px) {
  .header {
    max-width: 1184px;
    margin: auto;
  }
}
