.lead__title {
  color: #FFF;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  max-width: 720px;
  margin: 0;
  margin-bottom: 32px;
  align-self: center;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
    min-width: 288px;
  }
}