.intro {
    max-width: 690px;
    margin: 92px 442px 92px 148px;
    display: grid;
    grid-template-rows: 98px 241px 90px;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin: 92px 286px 92px 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        margin: 88px 24px 88px 24px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        margin: 88px 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 288px;
        margin: 64px 16px;
        grid-template-rows: 110px 554px 90px;
    }
}