.intro {
  max-width: 690px;
  padding: 92px 442px 0px 148px;
  display: grid;
  grid-template-rows: 98px 241px 90px;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding: 92px 286px 0px 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    padding: 88px 24px 0px 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    padding: 64px 16px 0px 16px;
    grid-template-rows: 110px 554px 90px;
  }
}

  