.lead__subtitle {
  color: #FFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  max-width: 640px;
  margin: 0;
  margin-bottom: 64px;
  align-self: center;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}