.cover__overlay {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: center;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        gap: 16px;
    }
}

