.cover__title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFF;
  text-align: center;
  max-width: 560px;
  margin: 0;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}