.place {
  display: grid;
  width: calc(100% - 298px);
  margin: auto;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-columns: 460px 1fr;
}

@media screen and (max-width: 1279px) {
  .place {
    width: calc(100% - 98px);
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    width: calc(100% - 48px);
    column-gap: 28px;
    grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 767px) {
  .place {
    width: calc(100% - 32px);
    row-gap: 32px;
    grid-template-columns: 100%;
  }
}