.footer {
  width: calc(100% - 96px);
  margin: auto;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    width: calc(100% - 32px);
    gap: 48px;
    align-items: flex-start
  }
}